body {
 background-color: black;
 text-align: center;
}
header {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 50px;
 color: white;
 
 margin-top: 80px;
 margin-bottom: 30px;
}
h1 {
    
    font-size: 16px;
    text-decoration: underline;

    
}
